@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
	width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    align-items: center;
    padding: 12px 200px 5px;
    backdrop-filter: blur(20px);
}

.logo {
    width: 11.2vh;
    height: 7.5vh;
    padding: 9px;
    margin: 0 80px 0 65px
}

.navigation a {
    color: rgb(216, 216, 216);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    margin: 0px 18px;
    transition: 0.7s ease;
}

.navigation a:hover {
    color: #A8703D;
    text-decoration: underline;
}

.navigation .home {
    color: #ffffff;
    font-size: 1.1em;
    transition: 0.7s ease;
}

.navigation .home:hover {
    text-decoration: underline;
    color: #A8703D;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(image/background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0 0 0 200px;
}

.main h2 {
    color: #DFDFDF;
    font-size: 2em;
    font-weight: 450;
}

.main h2 span {
    display: inline-block;
    color: #9E5C1F;
    font-size: 2em;
    font-weight: 600;
}

.main h3 {
    color: #B5B5B5;
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 30px;
}

.main h3 span {
    display: inline-block;
    margin-top: 3px;
    color: #B5B5B5;
    font-size: 0.8em;
    font-weight: 300;
    max-width: 45%;
}

.project-btn {
    color: #fff;
    text-decoration: none;
    background-color: #2B2B2B;
    padding: 0.9375em 2.1875em;
    margin: 0 18px 0 0;
    font-size: 1.0em;
    display: inline-block;
    letter-spacing: 1px;
    border-radius: 41px;
    transition: 0.7s ease;
}

.project-btn:hover {
    background-color: #9E5C1F;
    transform: scale(1.1);
}

.cv-btn {
    color: #fff;
    text-decoration: none;
    background-color: #1d1d1d;
    padding: 0.90em 2.0em;
    font-size: 1.0em;
    display: inline-block;
    letter-spacing: 1px;
    border-radius: 41px;
    transition: 0.7s ease;
    border: 1px solid #9E5C1F;
}

.cv-btn:hover {
    transform: scale(1.1);
}

.me-project {
    color: #fff;
    text-decoration: none;
    background-color: #2B2B2B;
    padding: 0.5375em 1.1875em;
    font-size: 1.0em;
    display: inline-block;
    letter-spacing: 1px;
    border-radius: 41px;
    transition: 0.7s ease;
}

.contact-btn:hover {
    transform: scale(1.1);
}

.social-icon {
    float: right;
    margin-left: 570px;
    margin-right: 20px;
    padding: 20px;
    writing-mode: vertical-lr;
    text-orientation: upright;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select : none;
}

.fa-instagram {
    padding: 9px;
    color: #fff;
    background-color: #2B2B2B;
    font-size: 1.7em;
    border-radius: 45px;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 18%);
    transition: 0.7s ease;
}

.fa-instagram:hover {
    transform: scale(1.1);
}

.fa-facebook,
.fa-twitter,
.fa-github {  
    padding: 9px;
    color: #000;
    background-color: rgb(255, 255, 255);
    font-size: 1.7em;
    border-radius: 45px;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 12%);
    transition: 0.7s ease;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-github:hover {
    transform: scale(1.1);
}

/* about me */

.about {
    height: 850px;
    display: flex;
    background-color: #191919;
    padding: 15px;
    justify-content: center;
    align-items: center;
}

.about-image img {
    border: 1px solid #9E5C1F;
    margin-right: 7vh;
}

.about-text h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 70px;
    color: #FFFFFF;
}

.about-text h5 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    color: #E2E2E2;
    margin: 18px 0;
}

.about-text h5 span {
    font-family: 'Josefin Sans', sans-serif;
    color: #AE6B2D;
}

.about-text p {
    font-family: 'Josefin Sans', sans-serif;
    color: #75706B;
    text-shadow: 0px 0px 1px #A8703D;
    font-size: 25px;
}

.about-text .cv-btn {
    margin-top: 30px;
    background-color: #9E5C1F
}

/* service */

.cards {
    background-color: #101010;
    height: 700px;
    justify-content: center;
    align-items: center;
    padding: 70px 0 0 0;
}
.title {
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 4.25em;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: #191919;
    width: 410px;
    height: 450px;
    box-shadow: 0 5px 18px rgba(1 1 1 / 11%);
    border: 1px solid #9E5C1F;
    border-radius: 65px;
    padding: 25px;
    margin: 15px 25px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}

.icon {
    font-size: 77px;
    color: #9E5C1F;
    text-align: center;
    padding-top: 30px;
}

.card .info h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    color: #E2E2E2;
    text-align: center;
    padding: 20px 0;
}

.card .info p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    color: #75706B;
    text-shadow: 0px 0px 1px #A8703D;
    text-align: center;
}

/* me project */

.me-project-2 {
    height: 300px;
    background-color: #191919;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
}

.me-project .title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3.8em;
}

.me-project-btn {
    color: #fff;
    text-decoration: none;
    background-color: #9E5C1F;
    border: 1px solid #9E5C1F;
    padding: 0.90em 2.0em;
    font-size: 1.0em;
    display: inline-block;
    letter-spacing: 1px;
    border-radius: 41px;
    transition: 0.7s ease;
}

.me-project-btn:hover {
    background-color: #1d1d1d;
    border: 1px solid #9E5C1F;
    transform: scale(1.1);
}

/* footer */

.footer-class {
    height: 410px;
    background-color: #101010;
    
}

.card-footer {
    text-align: center;
}

.title-footer {
    padding: 50px 0 22px 0;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 4.25em;
}

.info h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    color: #756F69;
    font-size: 1.5em;
    text-shadow: 0px 0px 1px #A8703D;
    margin-bottom: 40px;
}

.info a {
    margin-right: 15px;
}

.info .fa-instagram,
.fa-facebook,
.fa-twitter,
.fa-github {
    justify-content: center;
    text-align: center;
    font-size: 1.7em;
    background-color: #fff;
    color: #000;
}

.card-footer .info p {
    color: #979797;
    font-size: 1.25em;
    margin-top: 18%;
}